.calva/
*.class
classes/
.clj-kondo/
.cpcache/
Dockerfile
*.jar
.lein-*
.lsp/
note/
.nrepl-port
.nrepl-pid
package.json
package-lock.json
pom.xml
pom.xml.asc
.portal/
.prepl-port
profiles.clj
.project.clj
reports/
target/
.vscode/

/*.clj
/*.yaml
/*.ys
/issue-*
/libyamlscript-*
/node_modules/
/www
/ys-*
